@use './theme.scss';

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('./assets//fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background: theme.$color-bg;
  color: theme.$color-main;
  font-family: 'Roboto-Condensed';
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}