@use '../theme.scss';

.plantsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.plantsTableHeader {
  th {
    letter-spacing: 4px;
    font-weight: normal;
    text-align: left;
    text-shadow: 0 0 4px theme.$color-main;

    &:last-child {
      text-align: right;
    }
  }
}

.plantRow {
  font-size: 32px;
}

.plantName {
  text-shadow: 0 0 10px theme.$color-main;
  &::first-letter {
    color: theme.$color-secondary;
  }
}

.plantStatus {
  max-width: 60px;
  color: theme.$color-bg;
  letter-spacing: -2px;
  font-weight: 900;
  transform: scale(1.5, 1.0);
  border-radius: 4px;

  &.ok {
    background-color: theme.$color-positive;
    box-shadow: 0 0 10px theme.$color-positive;
  }

  &.warn {
    background-color: theme.$color-main;
    box-shadow: 0 0 10px theme.$color-main;
  }

  &.alert {
    background-color: theme.$color-secondary;
    box-shadow: 0 0 10px theme.$color-secondary;
  }

  &.lost {
    background-color: theme.$color-secondary;
    box-shadow: 0 0 10px theme.$color-secondary;
  }
}

.plantMoisture {
  text-shadow: 0 0 10px theme.$color-main;
  text-align: right;
}